.left-side {
    border: 1px solid #000;
}
.right-side {
    border: 1px solid #000;
}
.my-photo {
    width: 200px;
}
section, div, p, h2, h1, ul, img {
    padding: 5px;
    border: 1px solid #000;
    margin: 5px;
}